<!--预览视图-->
<div class="video-text-group">
    <div class="video-thumbnail" th:each="item:${dataList}">
        <img class="img-responsive videoThumbnail"
             src="http://placehold.it/80x80?text=banner"
             res:src="${item.thumbUri}"/>
    </div>
    <div class="video-info">
        <h2 class="video-info-title linkUrl">
            <a href="javascript:void(0)" th:href="${linkUrl}" th:text="${videoTitle}">国厚的企业文化</a>
        </h2>
        <span class="video-sub-title" th:text="${englishTitle}">This an English title</span>
        <p class="video-info-detail videoDetail" th:text="${videoDetail}"></p>
    </div>
</div>
<!--/预览视图-->